body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF
}


#playerSection{
    width: 500px;
    height: 500px;
    position: relative;
    border: solid blue 2px;
}

.playerSeat{
    width: 50px;
    height: 50px;
    border: solid black 2px;
    position: absolute;
}