extends layout

block content
    article(ng-controller='gameController')
        h1= title
        p Welcome to #{title}
        article#CreateGame
            | Number of players: 
            input(type='text' ng-model='nbPlayers')
            input(type='button' ng-click='calcPlayer()' value='Apply')
            .clear

            section#playerSection
                .centered(ng-click='startGame()')
                .playerSeat(ng-repeat='player in players' style='{{player.style}}', droppable="true"  data-playerIndex="{{$index}}" )
                    img.cardImg(ng-src='{{player.card.img}}' )
            section#cardsChoice
                .cardPick(ng-repeat='card in allCards',draggable="true", data-cardIndex="{{$index}}" )
                    img.cardImg(ng-src='{{card.img}}' )
            .clear
